// cores

$cor-primaria: #692fdb;
$cor-secundaria: #5223b1;
$cor-branca: #fcfcfc;
$cor-preta: #262626;
$cor-laranja: #ff8b64;
$cor-verde: #07bf30;
$cor-rosa: #ff2480;
$cor-amarela: #e7a52e;
$cor-roxa: #6232c5;
$cor-ciano: #6ad7e8;
$cor-vermelha: #f35247;

// tamanhos de fonte

$fonte-pequena: 12px;
$fonte-media: 14px;
$fonte-padrao: 18px;
$fonte-subtitulo: 22px;
$fonte-titulo: 28px;

// pesos de fonte

$peso-normal: 600;
$peso-bold: 700;
$peso-super-bold: 800;

// hover

$hover: 0.8;
